# Prerequisites
*.d

# Object files
**/*.o
**/*.ko
**/*.obj
**/*.elf
**/*.bin
**/*.map
**/*.ilk
**/*.exp
**/*.gch
**/*.pch
**/cosmos.img
**/cosmos

# Libraries
**/*.lib
**/*.a
**/*.ar
**/*.la
**/*.lo

# Shared objects (inc. Windows DLLs)
**/*.dll
**/*.so
**/*.so.*
**/*.dylib

# Executables
**/*.exe
**/*.out
**/*.app
**/*.i*86
**/*.x86_64
**/*.hex

# Debug files
**/*.dSYM/
**/*.su
**/*.idb
**/*.pdb

# Kernel Module Compile Results
**/*.mod*
**/*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temp files
*.un*
*.~
**/*~
.tmp_mtools

# image files we dont need
**/hda.img
**/blank.img
**/initrd.img
**/root.img
**/mbr_fat.img

# generated binaries
src/user/cosmos_init
src/util/mkinitrd/mkinitrd

# OS x resources
**/*.DS_Store

.vscode/settings.json
**/dump.dat
**/qemu.log
**/net0.dat

# userland executables
util/mkinitrd/mkinitrd
src/user/init/cosmos_init
/src/user/apps/term/term
/src/user/apps/init/init
/src/img/root.img
src/user/root.img
src/mk/qemu.mk~
/src/user/mkroot/.rootfs
/doc/doxygen
src/kernel/gdb.script
.vscode/c_cpp_properties.json
**/.depend
