# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin
cosmos.img
cosmos.elf
cosmos.bin
cosmos.map
kernel/cosmos

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.ar
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Temp files
*.un*
*.~

# image files we dont need
**/hda.img
**/blank.img
**/initrd.img

# generated binaries
/src/user/cosmos_init
/src/util/mkinitrd/mkinitrd

# OS x resources
**/*.DS_Store

.vscode
**/dump.dat
**/qemu.log
user/cosmos_init
util/mkinitrd/mkinitrd
src/user/init/cosmos_init
